<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ourdea.ourdea" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.ourdea.ourdea.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ourdea.ourdea.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.DashboardActivity"
            android:label="Dashboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TaskActivity"
            android:label="@string/title_activity_task"
            android:parentActivityName=".activities.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.AddEditTaskActivity"
            android:label="@string/title_activity_add_task"
            android:parentActivityName=".activities.TaskActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ourdea.ourdea.activities.TaskActivity" />
        </activity>
        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".activities.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ourdea.ourdea.activities.TaskActivity" />
        </activity>

        <!-- GCM -->
        <receiver
            android:name=".gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.ourdea.ourdea" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GCMIntentService" />

        <activity android:name=".activities.DrawerActivity" >
        </activity>
        <activity
            android:name=".activities.MeetingActivity"
            android:label="@string/title_activity_meeting"
            android:parentActivityName=".activities.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ourdea.ourdea.activities.DashboardActivity" />
        </activity>
    </application>

</manifest>
